# Specify language for files
*.py linguist-language=Python

# Mark specific directories as vendored to exclude from language stats
/static/* linguist-vendored
/node_modules/* linguist-vendored
/migrations/* linguist-generated
*.min.js linguist-vendored
