{% extends 'user_profile/base.html' %}
{% block body %}
{% load static %}


<div class="container">
    <div class="row">
        <div class="col-lg-12 col-lg-offset-0">
            <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
                <a class="navbar-brand" href="{% url 'index' %}">
                    <img src="https://res.cloudinary.com/dhx65uemx/image/upload/v1715630230/Tangle_hokbbr.svg" alt="Tangle Logo" class="logo-main">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'index' %}">
                                <i class="fas fa-home"></i> Home
                            </a>
                        </li>                        
                        {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'profile' %}">
                                <i class="far fa-user"></i> Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">
                                <i class="fas fa-sign-out-alt"></i> Logout
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'login' %}">
                                <i class="fas fa-sign-in-alt"></i> Login
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
            
            
            <div class="row">
                <div class="col-lg-8">
                    <div class="reply">
                        {% if user.is_authenticated %}
                        {% else %}
                        <p>You need to <a href="{% url 'login' %}">login</a> to post a reply.</p>
                        {% endif %}
                    </div>
                </div>
                
                <div class="row pad">
                    <div class="col-lg-12">
                        <div class="panel panel-primary">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <p class="big">Thread: {{ thread.title }}</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <p>Created by: {{ user.username }}</p>
                                    </div>
                                    <div class="col-lg-12">
                                        <br />
                                        <i class="glyphicon glyphicon-calendar"></i>
                                        {{ thread.date_created }} &nbsp;
                                        <a href="#_reply"><i class="glyphicon glyphicon-comment"></i> Post Reply</a> |
                                    </div>
                                    <div id="like-section">
                                        {% if request.user.is_authenticated %}
                                        <form action="{% url 'likes' %}" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="thread_id" value="{{ thread.id }}">
                                            {% if is_liked %}
                                            <button type="submit" class="btn btn-danger">
                                                <i class="fas fa-thumbs-down"></i> Dislike
                                            </button>                                            
                                            {% else %}
                                            <button type="submit" class="btn btn-primary">
                                                <i class="fas fa-thumbs-up"></i> Like
                                            </button>                                            
                                            {% endif %}
                                            <span id="like-count">{{ total_likes }} Likes</span>
                                        </form>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>



                <div class="modal fade" id="threadModal" tabindex="-1" role="dialog" aria-labelledby="threadModalLabel">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="threadModalLabel">Thread Details</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <div class="likesystem" data-id="{{ thread.id }}">
                                    <h3>{{ thread.title }}</h3>
                                    <p>{{ thread.description }}</p>
                                    <button class="likes" data-id="{{ thread.id }}">Like</button>
                                    <span class="likecount">{{ thread.likes }}</span>
                                    <button class="dislikes" data-id="{{ thread.id }}">Dislike</button>
                                    <span class="dislikecount">{{ thread.dislikes }}</span>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </div>

                
                {% for reply in replies %}
                <div class="panel panel-primary reply" id="r1" style="border-radius: 10px;">
                    <div class="panel-body">
                        <div class="row reply">
                            <div class="col-lg-9">
                                <div class="reply-msg">
                                    {{ reply.message }}
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="reply-details">
                                    <i class="glyphicon glyphicon-calendar"></i> {{ reply.date_created }} <br />
                                    {{ reply.user.username }} {% if reply.user.user_profile.image %}
                                    <img src="{{ reply.user.user_profile.image.url }}" alt="{{ reply.user.username }}" class="profile-image-thread">
                                {% else %}
                                    <i class="fas fa-user"></i>
                                {% endif %} <br />
                                    {% if user.is_authenticated and reply.user == user %}
                                    <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#updateModal{{ reply.id }}">
                                        <i class="fas fa-edit"></i> Update
                                    </button>
                                    <button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#deleteModal{{ reply.id }}">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </button>                                    
                                    {% endif %}
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- Update Modal -->
                <div class="modal fade" id="updateModal{{ reply.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="updateModalLabel{{ reply.id }}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="updateModalLabel{{ reply.id }}">Update Reply</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="{% url 'update_reply' thread_id=thread.id reply_id=reply.id %}"
                                    method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="message">Message</label>
                                        <textarea class="form-control" id="message" name="message"
                                            rows="3">{{ reply.message }}</textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Update</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Delete Modal -->
                <div class="modal fade" id="deleteModal{{ reply.id }}" tabindex="-1" role="dialog"
                    aria-labelledby="deleteModalLabel{{ reply.id }}">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel{{ reply.id }}">Delete Reply</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <p>Are you sure you want to delete this reply?</p>
                            </div>
                            <div class="modal-footer">
                                <form action="{% url 'delete_reply' thread_id=thread.id reply_id=reply.id %}"
                                    method="POST">
                                    {% csrf_token %}
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}

                {% if user.is_authenticated %}
                <div class="row pad">
                    <div class="col-lg-12 pad">
                        <div class="panel panel-primary reply">
                            <div class="panel-body pad" id="_reply">
                                <form
                                    action="{% if reply.id %}{% url 'update_reply' thread_id=thread.id reply_id=reply.id %}{% endif %}"
                                    method="POST" style="display: inline;">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="message">Reply message</label>
                                        <textarea class="form-control" id="message" name="message" rows="3"></textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary">
                                        <i class="glyphicon glyphicon-save"></i> Submit
                                    </button> &nbsp;
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                <footer>
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="center">
                                Copyright &copy; 2024 Tangle. All rights reserved.
                            </div>
                        </div>
                    </div>
                </footer>

            </div>
        </div>
    </div>
    {% endblock %}

