{% load static %}

{% url 'account_login' as login_url %}
{% url 'account_signup' as signup_url %}
{% url 'account_logout' as logout_url %}
{% url 'account_change_password' as change_password_url %}
{% url 'account_set_password' as set_password_url %}
{% url 'account_reset_password' as reset_password_url %}
{% url 'account_reset_password_from_key' as reset_password_from_key_url %}
{% url 'account_confirm_email' as confirm_email_url %}
{% url 'account_email' as email_url %}
{% url 'account_confirm_email_change' as confirm_email_change_url %}
{% url 'account_change_email' as change_email_url %}
{% url 'account_disconnect' as disconnect_url %}
{% url 'account_delete' as delete_url %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="csrf-token" content="{{ csrf_token }}">
    <meta name="description" content="Tangle Forum">
    <meta name="author" content="">
    <meta name="keywords" content="forum, django, python3, bootstrap, tangle">
    <meta name="robots" content="index, follow">
    <link rel="shortcut icon" href="{% static 'images/favicon_io/favicon.ico' %}" type="image/x-icon">
    <title>Tangle</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.1/css/all.css" integrity="sha384-gfdkjb5BdAXd+lj+gudLWI+BXq4IuLW5IT+brZEZsLFm++aCMlF1V92rMkPaX4PP" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'bs/css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}" />
    {% block extra_head %}{% endblock %}
</head>
<body>
    {% block body %}
    <nav class="navbar navbar-expand-sm navbar-light bg-light fixed-top">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
            <span class="navbar-toggler-text">Menu</span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">
                        <i class="fas fa-home"></i> Home
                    </a>
                </li>                        
                {% if user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'profile' %}">
                        <i class="far fa-user"></i> Profile
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'logout' %}">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}">
                        <i class="fas fa-sign-in-alt"></i> Login
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register' %}">
                        <i class="fas fa-book"></i> Register
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>

    <div class="container">
        {% block content %}{% endblock %}
    </div>
    {% endblock %}
    
    <script src="{% static 'bs/js/jquery.min.js' %}"></script>
    <!-- Bootstrap JavaScript -->
    <script src="{% static 'bs/js/bootstrap.min.js' %}"></script>

    <!-- jQuery Validation plugin -->
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js"></script>
    <!-- Custom JavaScript -->
    <script src="{% static 'js/scripts.js' %}"></script>
    {% block extra_scripts %}{% endblock %}
</body>
</html>

